h1{
    font-size: 30px;
    font-weight: lighter;
    width:800px; 
    margin:auto;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form{
    box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75)!important;
    border-radius: 5px;
    padding-bottom: 50px;
}
button{
    background-color: rgb(10, 192, 55);
    font-weight: lighter;
    border-color: black;
}

#box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }