<form style = "margin:auto; width: 40%;">
    <a>* indicates required field</a>

    <div class="form-outline mb-4">
        <input type="email" id="form" class="form-control" />
        <label class="form-label" for="form">Email Address*</label>
      </div>

    <div class="form-outline mb-4">
      <input type="username" id="form" class="form-control" />
      <label class="form-label" for="form">Username*</label>
    </div>
  
    <div class="form-outline mb-4">
      <input type="password" id="form" class="form-control" />
      <label class="form-label" for="form">Password*</label>
    </div>

    <div class="form-outline mb-4">
        <input type="password" id="form" class="form-control" />
        <label class="form-label" for="form"> Confirm Password*</label>
      </div>

    <button type="button" class="btn btn-primary btn-block mb-4 " routerLink="">Create Account</button>
    <div class = "text-center">
        <p href="#!">Already Have an Account?</p>
        <button type="button" class="btn btn-primary btn-block mb-4" routerLink="">Sign In</button>
    </div>
  </form>
  <br>