
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    </style>

    <h1>Sign in or create an account</h1>

<form style = "margin:auto; width: 40%; font-family: 'Open Sans', sans-serif;">
    <a>* indicates required field</a>
    <div class="form-outline mb-4">
      <input type="username" id="form" class="form-control" />
      <label class="form-label" for="form">Username</label>
    </div>
  
    <div class="form-outline mb-4">
      <input type="password" id="form" class="form-control" />
      <label class="form-label" for="form">Password</label>
    </div>

    <button type="button" class="btn btn-primary btn-block mb-4 " routerLink="Homepage">Sign in</button>
    <button type="button" class="btn btn-primary btn-block mb-4 " routerLink="CreateAccount">Create Account</button>
  </form>
  <br>
