<h6>Your Portfolio</h6>
<p class = "description">View Your Bought Stocks and Sell Any Stocks</p>

<form class="row row-lg-auto w-75 text-center mx-auto mt-3" #buyForm="ngForm" (ngSubmit)="onSellSubmit()">
  <label for="sell" class="form-label text-end col">Stock Symbol:</label>
  <input type="text" class="form-control col" aria-describedby="sell-form" name="symbol" [(ngModel)]="symbol"
    placeholder="ex. AAPL" />
  <input type="number" class="form-control col" [(ngModel)]="qty" name="qty" aria-describedby="sell-form"
    placeholder="ex. 1" min="0" onkeyup="if(value<0) value=0;" />
  <button type="submit" class="btn btn-primary col">Sell</button>
</form>
<div class="text-center">{{ sellLabel }}</div>

<br> 
<div style="background-color: #cfc ; padding: 1px; border: 1px solid rgb(0, 59, 0);">
<div class="d-flex justify-content-center"><p style="color: rgb(0, 0, 0);">Total Value: {{ balance }} </p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <p style="color: rgb(0, 0, 0)">Cash Balance: {{ cashBalance }}</p></div>
</div>


  <table class="table m-2 text-center">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
   
    <tbody *ngFor="let item of stockTotals | keyvalue">
        <tr>
            <th>{{item.key}}</th>
            <th> {{item.value}}</th>
        </tr>
    </tbody>  
    
</table>

  <!-- <div class="card" style="width: 18rem; float: right">
    <img src="assets/investing stock market.jpg" class="d-block w-1000" />
    <div class="card-body">
      <p class="card-text">
        These are the investment trends of stock you have purchased
      </p>
    </div> 
  </div> -->