<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="Homepage" style="display: flex; align-items: center; font-size: 22px; ">
      <img src="https://th.bing.com/th/id/OIP.puwsv-VMA1yJ6ao0pGPa2wHaFD?pid=ImgDet&w=820&h=560&rs=1" width="50" height="50" style="border-radius: 60px;" class="d-inline-block align-top" alt="">
      StockMarketSim
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-dark" routerLink="UserPage">Portfolio</a>
        <a class="nav-link text-dark" routerLink="StockSearch">Stock Search</a>
        <a class="nav-link text-dark" routerLink="TransactionHistory">Transaction History</a>
        <a class="nav-link text-dark" routerLink="TutorialPage">Tutorial</a>
        <a class="nav-link text-dark"  routerLink="/" ng-click="onLogout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet />