<!-- The basic structure of the transaction history component. -->
<h1 class="text-center">Your Transaction History</h1>
<!-- Displays the current user's balance. -->
<div class="card m-2 px-2 text-center" style="width: 15rem;">
    <p class="card-text">Account Balance: {{userBalance}}</p>
</div>
<!-- Displays a table containing the user's previous transactions. -->
<table class="table m-2 text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Symbol</th>
            <th scope="col">Total</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody *ngFor="let item of transactionTableRows; index as i">
        <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{item.priceToString}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.symbol}}</td>
            <td>{{item.totalToString}}</td>
            <td>{{item.date}}</td>
        </tr>
    </tbody>
</table>
