p[class= "description"]{
    font-weight: lighter;
    width:800px; 
    margin:auto;
    text-align: center;
}

h4{
    font-size: 55px;
    font-weight: lighter;
    width:800px; 
    margin:auto;
    text-align: center;
}