<!--Authored by J.R. Hauser-->

<!-- Form for stock qoutes:
       uses the ngForm module, on the submit it calls onQouteSumbit() from the price-form.ts file
                      the short version is it returns the price of the stock and sets the below qouteLabel    -->
<form
  #quoteForm="ngForm"
  (ngSubmit)="onQuoteSubmit()"
  class="row row-lg-auto w-75 text-center mx-auto p-3"
>
  <label for="qoute" class="form-label mt-2 text-end col fs-5"
    >Stock Symbol:</label
  >
  <!-- the input for the qoute form symbol,its attached to the
        symbol field of the price-form.component-->
  <input
    type="text"
    class="form-control col m-2"
    name="symbol"
    [(ngModel)]="symbol"
    aria-describedby="price-form"
    placeholder="ex. AAPL"
  />
  <button
    type="submit"
    class="btn col m-2"
    style="background-color: rgb(10, 192, 55); color: white"
  >
    Get Quote
  </button>
</form>
<!--this is where the qoute is displayed-->
<div class="text-center fs-5 m-1">{{ quoteLabel }}</div>

<form
  class="row row-lg-auto w-75 text-center mx-auto mt-3"
  #buyForm="ngForm"
  (ngSubmit)="onBuySubmit()"
>
  <label for="buy" class="form-label text-end col fs-5 mt-2"
    >Stock Symbol:</label
  >
  <!-- the input for the buy form symbol,its attached to the
        symbol field of the price-form.component-->
  <input
    type="text"
    class="form-control col m-2"
    aria-describedby="price-form"
    name="symbol"
    [(ngModel)]="symbol"
    placeholder="ex. AAPL"
  />
  <!-- the input for the buy form qty, the okKeyup() function prevents a user 
        from inputting a negative value; its attached to the
        qty field of the price-form.component-->
  <input
    type="number"
    class="form-control col m-2"
    [(ngModel)]="qty"
    onkeyup="if(value<0) value=0;"
    name="qty"
    required
    aria-describedby="price-form"
    placeholder="ex. 1"
    min="0"
  />
  <button
    type="submit"
    class="btn col m-2"
    style="background-color: rgb(10, 192, 55); border-color: black; color: white"
  >
    Buy
  </button>
</form>
<!--this is where the symbol and qty is displayed-->
<div class="text-center fs-5 m-3">{{ priceLabel }}</div>
