<h4>Tutorial and Tips</h4>
<p class = "description">Tips for Buying Stocks and Moving Throughout Our Page</p>

<div class="container-fluid">
  <div class="container">
    <h5>Tips:</h5>
    <h6>Tip 1: Use your personal brand knowledge "Never invest in a business you cannot understand."</h6>
    <br>
    <h6>Tip 2: The best time to buy stocks are around 9:30 a.m. to 10:30 a.m.(ET)</h6>
    <br>
    <h6>Tip 3: Prepare for long term investments</h6>
    <br>
    <h6>Tip 4: Look at the history of trends of the stock but dont rely on that alone as this doesn't always help
      predict
      the future of the stock</h6>
  </div>
  <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 center ">
    <div class="bd-example">
      <div id="firstCarouselExampleControls" class="carousel slide" data-ride="carousel">
        <p>How to Buy Stocks on our Page</p>
        <app-buy-carousel>Loading...</app-buy-carousel>
      </div>
    </div>
    <div class="bd-example">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <p>How to Sell Stocks on our Page</p>
        <app-sell-carousel>Loading...</app-sell-carousel>
      </div>
    </div>
  </div>
</div>