.bd-example {  /*for carousel */
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    border: solid #f7f7f9;
  }

  .center {
    margin: auto;
    width: 75%;
    padding: 10px;
  }

  p[class= "description"]{
    font-weight: lighter;
    width:800px; 
    margin:auto;
    text-align: center;
}

h4{
    font-size: 55px;
    font-weight: lighter;
    width:800px; 
    margin:auto;
    text-align: center;
}